header {
    width: 100%;
    background: $linear;

    .header-titles {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 900px;
        margin: 0 auto;
        padding: 2rem;

        h1 {
            color: $white;
            font-family: 'LexendDecaRegular' !important;
            font-size: 26px;
            font-weight: 500;
            user-select: none;
            cursor: default;
            margin-bottom: 1rem;
        }
    }

    .search-box {
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
        padding: 1rem 2rem;

        form {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            input[type=text] {
                width: 100%;
                height: 60px;
                border-radius: 5px;
                border: none;
                padding: 1rem 4rem;
                font-size: 18px;
                background: rgba(255, 255, 255, 0.2);
                font-family: 'InterRegular' !important;
                color: $white;

                &:focus {
                    outline: none;
                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                }

                &::placeholder {
                    color: rgba(255, 255, 255, 0.4);
                    font-family: 'InterRegular' !important;
                }
            }

            i {
                color: $white;
                font-size: 20px;
                float: left;
                position: absolute;
                z-index: 2;
                display: block;
                padding: 1rem 1.5rem;
                text-align: center;
                pointer-events: none;
            }
        }
    }
}